@charset "UTF-8";

/*Google Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Fonte interna*/
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*Raiz do arquivo - variáveis*/
:root {
    /*Paleta de cores*/
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    /*Fontes do site*/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

/* Seletor global - configuração geral */
* {
    margin: 0px;
    padding: 0px;
}

/* Corpo da página */
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

/* Header - Cabeçalho */
header {
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: 20px;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
    margin: auto;
    margin-bottom: 30px;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Nav - Navegação do site */
nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(46, 23, 23, 0.192);
}

nav > a {
    color: var(--cor2);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

/* Main - Conteúdo principal */
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor0),transparent);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor3);
    font: bold;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
    background-color: var(--cor1);
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position:relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 80%;
    height: 80%;
}

/* Aside */
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

/* Footer - Rodapé */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 15px;
}

footer a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor0);
}